.video-container {
    position: relative;
    /* TODO: Make appropriate size */
    width: 622px;
    height: 350px;
}


.video-button {
    position: absolute;
    /* Needed so it shows up on top of the video */
    z-index: 5;
    /* Centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* TODO: Make appropriate size */
    height: 8rem;
    width: 8rem;
    /* Change the default button styles */
    background: rgba(0, 0, 0, 0.75);
    border-radius: 999rem;
    padding: 1rem;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
    /* Other properties */
    color: rgba(16, 185, 129, 1);
    font-size: 6rem;
    line-height: 6rem;
}


.video-button:hover {
    color: rgba(4, 120, 87, 1);
}


video {
    position: absolute;
    /* TODO: Make appropriate size */
    width: 622px;
    height: 350px;
    /* Other properties */
    border: 1px solid black;
}
